#page
    height 100vh
    .logo
        height 100%
        width: 100%
        background: #fff
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column
        .img-wrapper
            height 150px
            width 150px
            background: #ccc
            margin-bottom: 50px
        .more
            margin-top: 50px
